* {
  Margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', 'DM Sans', sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr .6fr;
  color: #001149; }

.navbar {
  margin-top: .5em; }
  .navbar-brand img {
    width: 8.5rem;
    height: 9rem;
    justify-self: center;
    align-self: center; }
  .navbar-collapse {
    flex-grow: initial; }
  .navbar-nav {
    font-size: 18px;
    font-weight: 600;
    background: rgba(243, 240, 233, 0.6);
    border-radius: 10px; }

.nav-link:hover {
  background: rgba(0, 17, 73, 0.3);
  border-radius: 5px; }

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .footer.container-fluid {
    align-self: flex-end;
    font-size: 1.3em;
    font-weight: 600; }
  .footer i {
    color: #001149;
    font-size: 1em; }

.home {
  background: url(../imagenes/bgHome.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh;
  color: #f3f0e9; }
  .home__text {
    margin-top: 20%;
    font-size: 4.2em;
    font-weight: 400;
    line-height: 1em;
    justify-content: flex-end;
    align-items: flex-end;
    text-shadow: 1px 1px 3px #000; }
  .home i {
    color: #f3f0e9; }

.nosotros {
  background: url(../imagenes/bgsiete.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh; }

.nos .section--uno {
  height: 370px;
  background: url(../imagenes/us-uno.jpg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 500px) {
    .nos .section--uno {
      background-size: 90%;
      justify-content: flex-end; } }
  @media screen and (min-width: 800px) {
    .nos .section--uno {
      background-size: 60%;
      align-items: flex-end; } }

.nos .section__div--frame {
  width: 90%;
  height: auto;
  background: #f3f0e9;
  /*  display: flex;
            align-items: center;
            justify-content: center; */
  padding: 20px; }
  @media screen and (min-width: 500px) {
    .nos .section__div--frame {
      width: 80%;
      /*      justify-content: flex-end; */ } }
  @media screen and (min-width: 800px) {
    .nos .section__div--frame {
      width: 60%;
      /* align-items: flex-end; */ } }
  .nos .section__div--frame .text {
    padding-top: .5em;
    padding-left: .5em;
    font-size: 1.4em;
    line-height: 1.2em;
    text-align: left;
    font-weight: 600;
    margin-bottom: .5em; }
    @media screen and (min-width: 500px) {
      .nos .section__div--frame .text {
        font-size: 1.6em; } }
    @media screen and (min-width: 800px) {
      .nos .section__div--frame .text {
        font-size: 1.8em; } }
  .nos .section__div--frame .textDos {
    font-size: 1em;
    font-weight: 600; }
    @media screen and (min-width: 500px) {
      .nos .section__div--frame .textDos {
        font-size: 1.2em; } }

.nos .section__container--dos {
  margin-left: 2em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .nos .section__container--dos .vision {
    width: 100%;
    height: 350px;
    background: url(../imagenes/us-tres.jpg) no-repeat;
    background-size: 100% 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  .nos .section__container--dos .visionText {
    background-color: rgba(243, 240, 233, 0.3);
    text-align: center;
    line-height: 2em;
    font-weight: 600; }

.query {
  color: #001149;
  background: url(../imagenes/bgdos-a.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh; }

#accordionFlushExample {
  width: 80%;
  margin: 0;
  margin: auto; }

.accordion-button {
  background: linear-gradient(-30deg, lightblue, #222a44);
  color: #f3f0e9;
  text-shadow: 1px 1px 3px #000;
  font-size: .7em;
  font-weight: 500;
  font-family: 'Raleway', 'xDM Sans', xsans-serif; }

.accordion-body {
  background: #f5efe9;
  font-size: 1em; }
  .accordion-body .text {
    text-align: right; }
  .accordion-body .div--galeria {
    display: flex;
    align-items: center;
    justify-items: space-between; }
  .accordion-body .galeria {
    width: 100%;
    height: 180px;
    border: solid 5px  #f5efe9;
    border-radius: 10px;
    background-image: url(../imagenes/clientes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin: auto;
    animation: slider 15s ease-in-out infinite; }

@keyframes slider {
  from {
    background-position: left center; }
  to {
    background-position: right center; } }

.accordion ul li {
  list-style: circle; }

.accordion-flush {
  color: #001149;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Raleway', 'DM Sans', sans-serif; }

.accordion-flush p {
  margin: 0; }
