* {
  Margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', 'DM Sans', sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 9em 1fr 5em; }

.navbar {
  margin-top: .5em; }
  .navbar-brand img {
    width: 8.5rem;
    height: 9rem;
    justify-self: center;
    align-self: center; }
  .navbar-collapse {
    flex-grow: initial; }
  .navbar-nav {
    font-size: 18px;
    font-weight: 600;
    background: rgba(243, 240, 233, 0.6);
    border-radius: 10px; }

.nav-link:hover {
  background: rgba(0, 17, 73, 0.3);
  border-radius: 5px; }

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .footer.container-fluid {
    align-self: flex-end;
    font-size: 1.3em;
    font-weight: 600; }
  .footer i {
    color: #001149;
    font-size: 1em; }

.home {
  background: url(../imagenes/bgHome.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh;
  color: #f3f0e9; }
  .home__text {
    margin-top: 20%;
    font-size: 4.2em;
    font-weight: 400;
    line-height: 1em;
    justify-content: flex-end;
    align-items: flex-end;
    text-shadow: 1px 1px 3px #000; }
  .home i {
    color: #f3f0e9; }
