* {
  Margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', 'DM Sans', sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
  color: #001149;
  min-height: 100vh; }

main {
  grid-area: 2/1/3/2; }

.navbar-brand img {
  width: 8.5rem;
  height: 9rem;
  justify-self: center;
  align-self: center; }

.navbar-collapse {
  flex-grow: initial; }

.navbar-nav {
  font-size: 18px;
  font-weight: 600;
  background: rgba(243, 240, 233, 0.6);
  border-radius: 10px; }

.nav-link:hover {
  background: rgba(0, 17, 73, 0.3);
  border-radius: 5px; }

.footer {
  /*  margin-top: auto; */
  width: 100%; }
  .footer .container {
    font-size: .9em;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }
    @media screen and (min-width: 400px) {
      .footer .container {
        font-size: 1.2rem; } }
    .footer .container i {
      color: #001149;
      font-size: 1em; }

.home {
  background: url(../imagenes/bgHome.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh;
  color: #f3f0e9; }
  .home .main {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start; }
    @media screen and (min-width: 800px) {
      .home .main {
        justify-content: flex-end; } }
  .home .section__text {
    width: 300px;
    margin-bottom: 3em;
    margin-left: .5em; }
    @media screen and (min-width: 580px) {
      .home .section__text {
        width: 500px; } }
    @media screen and (min-width: 800px) {
      .home .section__text {
        width: 500px;
        margin-right: 2em; } }
    @media screen and (min-width: 1100px) {
      .home .section__text {
        margin-right: 5em;
        width: 500px; } }
    .home .section__text--p {
      font-size: 3.2em;
      font-weight: 400;
      line-height: 1em;
      letter-spacing: 1px;
      text-shadow: 3px 3px 3px #000; }
      @media screen and (min-width: 480px) {
        .home .section__text--p {
          font-size: 3.3em; } }
      @media screen and (min-width: 800px) {
        .home .section__text--p {
          font-size: 4em;
          font-weight: 300; } }
  .home .footer i {
    color: #f3f0e9; }

.nosotros {
  background: url(../imagenes/bgsiete.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh; }

.nos .section--uno {
  height: 370px;
  background: url(../imagenes/us-uno.jpg) no-repeat;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 480px) {
    .nos .section--uno {
      background-size: 80%;
      justify-content: flex-end; } }
  @media screen and (min-width: 900px) {
    .nos .section--uno {
      background-size: 70%; } }

.nos .section__div--frame {
  width: 90%;
  height: auto;
  line-height: 1;
  padding: px;
  background: #f3f0e9; }
  @media screen and (min-width: 480px) {
    .nos .section__div--frame {
      width: 70%;
      margin-bottom: -3%; } }
  @media screen and (min-width: 900px) {
    .nos .section__div--frame {
      width: 50%;
      margin-right: 5em;
      margin-top: 5em; } }
  .nos .section__div--frame .text {
    font-size: 1.4em;
    line-height: 1.2;
    text-align: left;
    font-weight: 600;
    padding: 10px; }
    @media screen and (min-width: 480px) {
      .nos .section__div--frame .text {
        padding-bottom: 1px;
        padding-left: 15px;
        font-weight: 600; } }
    @media screen and (min-width: 900px) {
      .nos .section__div--frame .text {
        font-size: 1.6em; } }
  .nos .section__div--frame .textDos {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 600; }
    @media screen and (min-width: 480px) {
      .nos .section__div--frame .textDos {
        line-height: 1.3; } }

.nos .section__container--dos {
  margin-left: 2em;
  margin-right: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }
  .nos .section__container--dos .vision {
    width: 100%;
    height: 350px;
    background: url(../imagenes/us-tres.jpg) no-repeat;
    background-size: 100% 100%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  .nos .section__container--dos .visionText {
    background-color: rgba(243, 240, 233, 0.3);
    text-align: center;
    line-height: 2em;
    font-weight: 600; }

.query {
  color: #001149;
  background: url(../imagenes/bgdos-a.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh; }

#accordionFlushExample {
  width: 80%;
  margin: 0 auto;
  margin-top: 5%; }

.accordion-button {
  background: linear-gradient(-30deg, lightblue, #222a44);
  color: #f3f0e9;
  text-shadow: 1px 1px 3px #000;
  font-size: .7em;
  font-weight: 500;
  font-family: 'Raleway', 'xDM Sans', xsans-serif; }

.accordion-body {
  background: #f5efe9;
  font-size: 1em; }
  .accordion-body .text {
    text-align: right; }
  .accordion-body .div--galeria {
    display: flex;
    align-items: center;
    justify-items: space-between; }
  .accordion-body .galeria {
    width: 100%;
    height: 180px;
    border: solid 5px #f5efe9;
    border-radius: 10px;
    background-image: url(../imagenes/clientes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin: auto;
    animation: slider 15s ease-in-out infinite; }

@keyframes slider {
  from {
    background-position: left center; }
  to {
    background-position: right center; } }

.accordion ul li {
  list-style: circle; }

.accordion-flush {
  color: #001149;
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'Raleway', 'DM Sans', sans-serif; }

.accordion-flush p {
  margin: 0; }

.Servicios {
  background: url(../imagenes/bgunob.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh;
  color: #001149; }

.tituloPrincipal {
  color: #f3f0e9;
  text-shadow: 3px 3px 5px #000;
  text-align: center;
  font-size: 3em;
  font-weight: 400;
  margin-bottom: .5em; }

.planes {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

#imgOut,
#imgSos,
#imgTu {
  width: 310px;
  height: 250px;
  border-right: outset 5px aqua;
  border-bottom: outset 5px aqua;
  border-radius: 5%; }

.section__div--text {
  width: 310px;
  text-align: flex-start;
  margin-top: 1em;
  margin-bottom: 1.5em;
  align-self: center;
  background: rgba(243, 240, 233, 0.5);
  border-radius: 10px; }
  .section__div--text .tituloSecundario {
    font-size: 2em;
    text-shadow: 2px 2px 3px #fff;
    font-weight: 600;
    text-align: center; }
  .section__div--text span {
    font-style: italic;
    font-weight: 700; }
  .section__div--text .text {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.3em;
    text-align: left; }

@media screen and (min-width: 400px) {
  .tituloPrincipal {
    font-size: 4em; }
  #imgOut,
  #imgSos,
  #imgTu {
    width: 400px; }
  .section__div--text {
    width: 400px; } }

.container {
  display: flex; }

.contacto {
  color: #001149;
  background: url(../imagenes/bgtres-a.jpg) no-repeat fixed;
  background-size: 100% 100%;
  height: 100vh; }
  .contacto .conText {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: start; }
  .contacto .conText-b {
    text-shadow: 3px 3px 3px white;
    text-align: center;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 400;
    margin-top: .5em; }
  .contacto .form__input,
  .contacto .form__textarea {
    background: rgba(243, 240, 233, 0.1);
    border: none;
    outline: none;
    border-radius: 8px;
    border-right: 5px outset #3fe2c4;
    border-bottom: 5px outset #001149;
    margin-bottom: 15px;
    padding: 3px;
    font-size: 16px;
    color: black; }
  .contacto .form__textarea {
    height: 18rem;
    border-radius: 10px; }
  .contacto .submit {
    background: rgba(243, 240, 233, 0.1);
    font-size: 16px;
    border-radius: 8px;
    border-right: 5px outset #3fe2c4;
    border-bottom: 5px outset #001149;
    text-shadow: 1px 1px 1px white;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .5s ease; }
  .contacto .submit:hover {
    background-color: rgba(0, 242, 255, 0.6);
    color: black;
    border-bottom: 3px solid black; }
  .contacto .form__label {
    color: aqua;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
    justify-self: left;
    margin-left: 16px;
    margin-bottom: 5px;
    font-weight: 600; }
  .contacto .form__input,
  .contacto .form__textarea,
  .contacto .submit {
    align-self: flex-end; }
  .contacto span {
    font-style: italic;
    color: aqua;
    text-shadow: 1px 1px 1px black; }
