.home {
    background: url(../imagenes/bgHome.jpg)no-repeat fixed;
    @include bg;
    color: $color1;

    .main {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        @media screen and (min-width:800px) {
            justify-content: flex-end;
        }
    }

    .section__text {
        width: 300px;
        margin-bottom: 3em;
        margin-left: .5em;

        @media screen and (min-width:580px) {
            width: 500px;
        }

        @media screen and (min-width:800px) {
            width: 500px;
            margin-right: 2em;  
        }

        @media screen and (min-width:1100px) {
            margin-right: 5em; 
            width: 500px; 
        }


        &--p {
            font-size: 3.2em;
            font-weight: 400;
            line-height: 1em;
            letter-spacing: 1px;
            text-shadow: 3px 3px 3px #000;

            @media screen and (min-width:480px) {
                font-size: 3.3em;
            }

            @media screen and (min-width:800px) {
                font-size: 4em;
                font-weight: 300;
            }

        }

    }

    .footer i {
        color: $color1;
    }
}


