.nosotros {
    background: url(../imagenes/bgsiete.jpg) no-repeat fixed;
    @include bg;
}

.nos {
    .section {
        &--uno {
            height: 370px;
            background: url(../imagenes/us-uno.jpg) no-repeat;
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width:480px) {
                background-size: 80%;
                justify-content: flex-end;
            }

            @media screen and (min-width:900px) {
                background-size: 70%;
              
            }

        }

        &__div--frame {
            width: 90%;
            height: auto;
            line-height: 1;
            padding: px;
            background: $color1;


            @media screen and (min-width:480px) {
                width: 70%;
                margin-bottom: -3%;

            }

            @media screen and (min-width:900px) {
                width: 50%;
                margin-right: 5em;
                margin-top: 5em;

            } 

            .text {
                font-size: 1.4em;
                line-height: 1.2;
                text-align: left;
                font-weight: 600;
                padding: 10px;


                @media screen and (min-width:480px) {
                    padding-bottom: 1px;
                    padding-left: 15px;
                    font-weight: 600;
                }

              @media screen and (min-width:900px) {
                    font-size: 1.6em;
                  
                } 
            }

            .textDos {
                font-size: 1em;
                line-height: 1.2;
                font-weight: 600;

                @media screen and (min-width:480px) {
                   line-height: 1.3;
                }

            }

        }

        &__container--dos {
            margin-left: 2em;
            margin-right: 3.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            .vision {
                width: 100%;
                height: 350px;
                background: url(../imagenes/us-tres.jpg) no-repeat;
                background-size: 100% 100%;
                align-self: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .visionText {
                background-color: rgba(243, 240, 233, .3);
                text-align: center;
                line-height: 2em;
                font-weight: 600;
            }
        }

    }
}