* {
    Margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr .6fr;
    color: $color2;
}

.navbar {
    &-brand img {
        width: 8.5rem;
        height: 9rem;
        justify-self: center;
        align-self: center;
    }

    &-collapse {
        flex-grow: initial;
    }

    &-nav {
        font-size: 18px;
        font-weight: 600;
        background: rgba(243, 240, 233, .6);
        border-radius: 10px;
    }

}

.nav-link:hover {
    background: rgba(0, 17, 73, .3);
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &.container {
        font-size: .9em;
        font-weight: 600;
        
        @media screen and (min-width:400px) {
           font-size:1.2rem
        }
    }

    i {
        color: $color2;
        font-size: 1em;
    }

}



