
.home {
    background: url(../imagenes/bgHome.jpg)no-repeat fixed;
    @include bg;  
    color:$color1;

    &__text{    
        margin-top: 20%;
        font-size: 4.2em;
        font-weight: 400;
        line-height: 1em;
        justify-content: flex-end;
        align-items: flex-end;
        text-shadow: 1px 1px 3px #000;
    }   

.footer i{
    color: $color1;
    }
}
