.nosotros {
    background: url(../imagenes/bgsiete.jpg) no-repeat fixed;
    @include bg;
}

.nos {
    .section {
        &--uno {
            height: 370px;
            background: url(../imagenes/us-uno.jpg) no-repeat;
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width:500px) {
                background-size: 90%;
                justify-content: flex-end;
            }

            @media screen and (min-width:800px) {
                background-size: 60%;
                align-items: flex-end;
            }
        }

        &__div--frame {
            width: 90%;
            height: auto;
            background: $color1;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width:500px) {
                width: 80%;
                margin-top: 20%;
            }

            @media screen and (min-width:800px) {
                width: 50%;
                margin-right: 12%;
            }

            .text {
                font-size: 1.4em;
                line-height: 1.2em;
                text-align: center;
                font-weight: 600;
                margin: 0;
                margin: auto;
                padding-bottom: 10px;

                @media screen and (min-width:800px) {
                    font-size: 1.5em;
                }
            }

            .textDos {
                font-size: 1em;
                font-weight: 600;

                @media screen and (min-width:800px) {
                    font-size: 1.1em;
                }
            }
        }

        &__container--dos {
            margin-left: 2em;
            margin-right: 3.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            .vision {
                width: 100%;
                height: 350px;
                background: url(../imagenes/us-tres.jpg) no-repeat;
                background-size: 100% 100%;
                align-self: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .visionText {
                background-color: rgba(243, 240, 233, .3);
                text-align: center;
                line-height: 2em;
                font-weight: 600;
            }
        }
    }
}