.Servicios {
    background: url(../imagenes/bgunob.jpg) no-repeat fixed;
    @include bg;
    color: $color2;
}

.tituloPrincipal {
    color: $color1;
    text-shadow: 3px 3px 5px #000;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: .5em;
}

.planes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#imgOut,
#imgSos,
#imgTu {
    width: 390px;
    height: 250px;
    border-right: outset 5px aqua;
    border-bottom: outset 5px aqua;
    border-radius: 5%;
}
.section {
    &__div--text {
        width: 400px;
        text-align: flex-start;
        margin-top: 1em;
        margin-bottom: 1.5em;
        align-self: center;
        background: rgba(243, 240, 233, .5);
        border-radius: 10px;

        .tituloSecundario {
            font-size: 2em;
            text-shadow: 2px 2px 3px #fff;
            font-weight: 600;
            text-align: center;
        }

        span {
            font-style: italic;
            font-weight: 700;
        }

        .text {
            font-weight: 500;
            font-size: 1.3rem;
            line-height: 1.3em;
            text-align: left;           
        }
    }
}