/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

* {
    Margin: 0;
    padding: 0;
}

/* etiquetas comunes */
body {
    font-family: 'Raleway', 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.6fr;
}

.navbar-brand img {
    width: 8.5rem;
    height: 9rem;
    justify-self: center;
    align-self: center;
}

.navbar-nav {
    font-size: 18px;
    font-weight: 600;
    background: rgba(243, 240, 233, .6);
    border-radius: 10px;
}

.nav-link:hover {
    background: rgb(0, 17, 73, .3);
    border-radius: 5px;
}

.navbar-collapse {
    flex-grow: initial;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer.container-fluid {
    align-self: flex-end;
    font-size: 1.3em;
    font-weight: 600;
}

.footerHome {
    font-weight: 300;
}

.footer i {
    color: #001149;
    font-size: 1em
}

.footerHome i {
    color: #f3f0e9;
    font-size: 1em;
}

/* fin etiquetas comunes */

.bgHome {
    background: url(./imagenes/bgHome.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
    color: #f3f0e9;
}

.home {
    margin-top: 12%;
    font-size: 4.2rem;
    font-weight: 400;
    line-height: 1em;
    justify-content: flex-end;
    align-items: flex-end;
    text-shadow: 1px 1px 3px #000;
}

.bgNosotros {
    background: url(./imagenes/bgsiete.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
}

.section__div--nos {
    width: 85vw;
    height: 400px;
    background: url(./imagenes/us-uno.jpg) no-repeat;
    background-size: contain;
    display: flex;
    flex-grow: 1fr;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin: auto;
    margin-bottom: 50px;
}

.section__div--nos--text {
    width: 700px;
    background-color: #f3f0e9;
    margin-top: 25px;
    padding-top:10px;
   padding-left: 20px;

}

.textUno {
    font-weight: 500;
    font-size: 1.9em;
    line-height: 1.2em;
    margin-bottom: 1em;
    text-align: left;
   
}

.textDos {
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.2em;
}

.nosotros .container {
    margin: 0;
    margin: auto;
}

.visionx {
    background-color: #f3f0e9;
    border-radius: 10px;
    text-align: center;
}


.vision{
    width: 100%;
    height: 500px;
    background: url(./imagenes/us-tres.jpg) no-repeat;
    background-size: 100% 100%;   
    align-self: flex-end;
    display: flex;
    flex-grow: 1fr;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    margin: auto;
}

.visionText{
    background-color: rgba(243, 240, 233,.7);
    text-align: center;        
}


.bgQuery {
    color: #001149;
    background: url(./imagenes/bgdos-a.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
}

#accordionFlushExample {
    width: 60%;
    margin: 0;
}

.accordion-button {
    background: linear-gradient(-30deg, lightblue, #222a44);
    color: #f3f0e9;
    text-shadow: 1px 1px 3px #000;
    font-size: .7em;
    font-weight: 500;
    font-family: 'Raleway', 'xDM Sans', xsans-serif;
}

.accordion-body {
    background: #ebe7e3
}

ul li {
    list-style: circle;
}

.accordion-flush {
    color: #001149;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Raleway', 'DM Sans', sans-serif;
}

.accordion-flush p {
    margin: 0;
}

.accordion-text {
    font-size: 1.2em;
    text-align: right;
    font-style: italic;
    color: #001149;
}

.div--galeria {
    display: flex;
    align-items: center;
    justify-items: space-between;
}

.galeria {
    width: 55%;
    height: 180px;
    border: solid 5px darkgray;
    border-radius: 10px;
    background-image: url(./imagenes/clientes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin: auto;
    animation: slider 10s ease-in-out infinite;
}

@keyframes slider {
    from {
        background-position: left center;
    }

    to {
        background-position: right center;
    }
}

.bgServicios {
    background: url(./imagenes/bgunob.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
}

.tituloPrincipal {
    color: #f3f0e9;
    text-shadow: 3px 3px 5px #000;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: .5em;
}

.sectionPlanes {
    width:100%;
 
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin: auto;
}

.cards {    
   display: flex;
   flex-direction: column;
      
}

.cards:nth-child(2){
    margin-left:1em;
    margin-right: 1em;
}


#imgOut,
#imgSos,
#imgTu {

width: 400px;
height: 250px;

    border-right: outset 5px aqua;
    border-bottom: outset 5px aqua;
    border-radius: 5%;
}

.section__div--text {
    width: 400px;
    text-align:flex-start;
    margin-top: 1em;
    margin-bottom: 1.5em;
    align-self: center;
    background: rgba(243, 240, 233, .5);    
    border-radius: 10px;
}

.tituloSecundario {
    color: #001149;
    font-size: 2em;
    text-shadow: 2px 2px 3px #fff;
    font-weight: 600;    
    text-align: start;
}

.span-ar {
    font-style: italic;
    font-weight: 700;
}

.text {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.3em;
    text-align: left;
    color: #001149;
    margin-bottom: 0;
}

.bgContacto {
    color: #001149;
    background: url(./imagenes/bgtres-a.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
}

.conText {
    color: #001149;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: start;
}

.conText-b {
    color:#001149;
    text-shadow: 3px 3px 3px white;
    text-align: center;
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: .5em;
}

.form__input,
.form__textarea {
    background: rgba(243, 240, 233, .1);
    border: none;
    outline: none;
    border-radius: 8px;
    border-right: 5px outset #3fe2c4;
    border-bottom: 5px outset #001149;
    margin-bottom: 15px;
    padding: 3px;
    font-size: 16px;
    color: black;
}

.form__textarea {
    height: 18rem;
    border-radius: 10px;
}

.submit {
    background: rgba(243, 240, 233, .1);
    font-size: 16px;
    border-radius: 8px;
    border-right: 5px outset #3fe2c4;
    border-bottom: 5px outset #001149;    
    color: #001149;
    text-shadow: 1px 1px 1px white;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.submit:hover {
    background-color: rgba(0, 242, 255, .6);
    color: black;
    border-bottom: 3px solid black;
}

.form__label {
    color: aqua;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
    justify-self: left;
    margin-left: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.form__input,
.form__textarea,
.submit {
    align-self: flex-end;
}

.span-mail {
    font-style: italic;
    color: aqua;
    text-shadow: 1px 1px 1px black;
}
