/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

* {
    Margin: 0;
    padding: 0;
}

/* etiquetas comunes */
body {
    font-family: 'Raleway', 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9rem 1fr 6.25rem;
}

.navbar-brand img {
    width: 8.5rem;
    height: 9rem;
    justify-self: center;
    align-self: center;
}

.navbar-nav {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    margin: auto;
}

.nav-link:hover {
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container-fluid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2em;
}

.footer img {
    height: 2.2rem;
    width: 2.2rem;
    margin: 0;
    margin: auto;
}

.anchor__light {
    text-decoration: none;
    color: #f3f0e9;
}

.anchor__dark {
    text-decoration: none;
    color: #001149;
}

.secondaryTitle {
    color: #001149;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: start;
}
.contacText{
color: #001149;
font-size: 1.5em;
font-weight: 500;
margin-bottom: 1rem;
text-align: start;
}

.mainTitle {
    color: #f3f0e9;
    text-shadow: 3px 3px 5px #000;
    text-align: center;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: .5em;
}

.text {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1em;
    text-align: left;
    color: #001149;
}

/* fin etiquetas comunes */
.bgHome {
    background: url(./imagenes/bgHomea.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
    color: #f3f0e9;
}

.mainHome {
    display: flex;
    font-size: 4rem;
    font-weight: 300;
    align-items: center;
    justify-content: flex-end;
    margin-left: 45%;
    margin-right: 13%;
    margin-top: 14%;
    line-height: 70px;
    text-shadow: 1px 1px 3px #000;
}

.link__home {
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow: 1px 1px 2px #000;
    margin-top: 0.625rem;
    text-align: start;
}

.link__home:hover {
    color: aqua;
    cursor: pointer;
    transition: all .5s ease;
}

.bgQuery {
    color: #001149;
    background: url(./imagenes/bgdos-a.jpg) no-repeat fixed;
    background-color: beige;
    background-size: 100% 100%;
    height: 100vh;
}

#accordionFlushExample {
    width: 60%;
    margin: 0;
}

.accordion-button {
    background: linear-gradient(-30deg, lightblue, #222a44);
    color: #f3f0e9;
    text-shadow: 1px 1px 3px #000;
    font-size: .7em;
    font-weight: 500;
    font-family: 'Raleway', 'xDM Sans', xsans-serif;
}

.accordion-body {
    background: #edddc5
}

ul li {
    list-style: circle;
}

.accordion-flush {
    color: #001149;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Raleway', 'DM Sans', xsans-serif;
}

.accordion-flush p {
    margin: 0;
}

.accordion-text {
    font-size: 1.2em;
    text-align: right;
    font-style: italic;
    color: #001149;
}

.div--galeria {
    display: flex;
    align-items: center;
    justify-items: space-between;
}

.anchor__dark {
    text-decoration: none;
    color: #001149;
}

.galeria {
    width: 55%;
    height: 180px;
    border: solid 5px darkgray;
    border-radius: 10px;
    background-image: url(./imagenes/clientes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    margin: auto;
    animation: slider 10s ease-in-out infinite;
}

@keyframes slider {
    from {
        background-position: left center;
    }

    to {
        background-position: right center;
    }
}


.bgContact {
    color: #001149;
    background: url(./imagenes/bgtres-a.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
}

.mainAcordion {
    display: flex;
    align-items: flex-end;
    justify-items: flex-start;
}

.container {
    margin-top: 50px;
}

.form__label {
    color: aquamarine;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
    justify-self: left;
    margin-left: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.form__input,
.form__textarea {
    background: rgba(243, 240, 233, .1);
    border: none;
    outline: none;
    border-radius: 8px;
    border-right: 5px outset #3fe2c4;
    border-bottom: 5px outset #001149;
    margin-bottom: 15px;
    padding: 3px;
    font-size: 16px;
    color: black;
}

.form__input,
.form__textarea,
.submit {
    align-self: flex-end;
    
}

.form__textarea {
    height: 18rem;
    border-radius: 10px;
}

.submit {
    outline: none;
    background: rgba(243, 240, 233, .1);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    border-right: 5px outset #3fe2c4;
    border-bottom: 5px outset #001149;
    color: #001149;
    text-shadow: 1px 1px 1px white;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.submit:hover {
    background-color: rgba(0, 242, 255, .6);
    color: black;
    border-bottom: 3px solid black;
}

.mainText {
    
   /*  align-self: center; */
   
   
  
    color: #001149;
    text-shadow: 1px 1px 3px #fff;
}


.form__label {   
    color: aqua;
    font-size: 20px;
    text-shadow: 2px 2px 2px #000;
    justify-self: left;
    margin-left: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

.form__input,
.form__textarea {
    background: rgba(243, 240, 233, .1);
    border: none;
    outline: none;
    border-radius: 8px;
    border-right: 5px outset #3fe2c4;
    border-bottom: 5px outset #001149;
    margin-bottom: 15px;
    padding: 3px;
    font-size: 16px;
    color: black;
}

.form__input,
.form__textarea,
.submit {
    align-self: flex-end;
}

.form__textarea {
    height: 18rem;
    border-radius: 10px;
}

.submit {

    outline: none;
    background: rgba(243, 240, 233, .1);
    font-size: 16px;
    border: none;
    border-radius: 8px;
    border-right: 5px outset #3fe2c4;
    border-bottom: 5px outset #001149;
    color: #001149;
    text-shadow: 1px 1px 1px white;
    font-weight: 600;
    padding: 5px 10px;
    cursor: pointer;
    transition: all .5s ease;
}

.submit:hover {
    background-color: rgba(0, 242, 255, .6);
    color: black;
    border-bottom: 3px solid black;
}

.mainText {
    text-align: center;
    align-self: center;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1em;
    color: #001149;
  
    text-shadow: 1px 1px 3px #fff;
}


.bgServices {
    background: url(./imagenes/bgseis.jpg) no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
}

#imgOut,
#imgSos,
#imgTu {
    width: 500px;
    border-right: outset 5px aqua;
    border-bottom: outset 5px aqua;
    border-radius: 5%;
}

.section__div--text {
    width: 500px;
    padding: 0;
    text-align: justify;
    align-self: center;
}

.sectionPlanes {
    display: flex;
    justify-content: center;
}

.section__div--p {
    width: 80%;
  
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.cards:nth-child(2) {
    flex-direction: row-reverse;
}

.contacLink {
    color: #f3f0e9;
    text-shadow: 3px 3px 6px #000;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: .5em;
}

.contacLink:hover {
    color: aqua;
    font-weight: 300;
    text-shadow: 1px 1px 1px #000;
    cursor: pointer;
    transition: all .5s ease;
}

.bgUs {
  background: url(./imagenes/bgsiete.jpg) no-repeat fixed; 
 /*  background-color: #f3f0e9; */
    background-size: 100% 100%;
    height: 100vh;
    color: #001149;
}

.TextUs-principal img{
    position:absolute;
    width: 500px;
    height: 300px;
    z-index: -1;
}

.textUs-a{
    width: 100%;
    margin-left: 10em;
    margin-top: 2em;
    background: rgba(243,240,233,1) ;
    padding: 20px;
    font-weight: 500;
    margin-bottom: 3em;

}

.span-mail {
    font-style: italic;
    color: aqua;
    text-shadow: 1px 1px 1px black;
}

.span-ar{
    font-style: italic;
    font-weight: 700;
}

@media screen and (max-width: 500px){

    .TextUs-principal img{
        position:absolute;
        width: 90%;
        height: 200px;
        z-index: -1;
    }

    .textUs-a{    
    margin-left: 5em;
    width: 200px;
  
}
    
}